body {
    margin: 0;
    font-family: "Cormorant Unicase," serif;
    overflow: hidden;
    background-color: #10052c;
    color:#f39776;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

  #instructions-container {
    text-align: center;
    font-family: "Cormorant Unicase", serif;
  }

  .cormorant-unicase-semibold {
    font-family: "Cormorant Unicase", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
  }

  .cormorant-unicase-regular {
    font-family: "Cormorant Unicase", serif;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
  }

  #game-container {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    border: 10px solid #e35926;
    overflow: hidden;
    border-radius: 30px;
  }

  .bosque {
    width: 800px;
    height: auto;
    filter: saturate(60%);
  }
  .personaje {
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url(./assets/fairy1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
  }
  
  
  .moneda {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(./assets/stars.png);
    background-size: contain;
  }